
# Python 3.12 (latest, strict, clean)
numpy==1.26.4
pandas==2.2.2
seaborn==0.13.2
matplotlib==3.8.4
scipy==1.11.4
statsmodels==0.14.2
scikit-learn==1.4.2

#  uv pip install -r requirements.txt
#  uv venv --python 3.12 .lrsoccer312
#  source .lrsoccer312/Scripts/activate


